
html,body {
	font-family:'Roboto', 'Helvetica', 'Arial';
	font-size: 13px;  
	color:#444; 
	line-height: 1.5;
	padding:0px;
	margin:0px auto;
	font-weight: 500;
}

textarea { resize:vertical ; }

p {
	margin: 0 0 10px;
	padding: 0;
}

h1, h2, h3, h4 {
	font-weight: normal;
	font-family: 'light';
	margin: 0 0 10px;
	line-height: normal;
}
a:hover{
	opacity:0.7;
	text-decoration:none;
	color:#fff
}
textarea:hover, input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type="number"]:hover {
    border-color: #b6bbbf;
}
textarea, input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    background: #edeff0;
    border-radius: 4px;
    border: 1px solid #cdd2d4;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 400px;
    width: 100%;
}
textarea {
    height: 300px;
}
textarea, input {
    display: block;
    margin: 0 0 1.2em;
	padding:10px
}
input {
    line-height: normal;
}

/* overwrite bootsrap */
.form-control{
	height: 44px;
	font-size: 22px;
    font-weight: normal;
	font-family: 'light';
	line-height: normal;
}

label {
   font-weight: normal; 
}
/*----*/

.quiet {
    color: #999;
}

.text-shadow{
	text-shadow: 0 3px 1px rgba(0,0,0,.1);
}

.a-hover-blue:hover{
	opacity:0.7;
	text-decoration:none;
	color:#03a9f4
}


.bold{
	font-weight:bold
}

.mt5{
	margin-top:5px
}
.mt10{
	margin-top:10px
}
.mt20{
	margin-top:20px  !important
}
.mt30{
	margin-top:30px
}
.mt40{
	margin-top:40px !important
}
.mt70{
	margin-top:70px !important
}
.mb40{
	margin-bottom:40px !important
}
.mb10{
	margin-bottom:10px
}
.mb20{
	margin-bottom:20px  !important
}
.mb0{
	margin-bottom:0px
}
.ml0{
	margin-left:0px
}
.m15{
	margin:15px
}
.m5{
	margin:5px
}
.m0{
	margin:0px
}

.mr10{
	margin-right:10px
}
.p0{
	padding:0px !important
}
.p5{
	padding:5px
}
.p10{
	padding:10px
}
.p15{
	padding:15px
}
.p20{
	padding:20px
}
.p50{
	padding:50px
}
.pt35{
	padding-top:35px
}
.pt70{
	padding-top:70px
}
.pt50{
	padding-top:50px
}
.pt30{
	padding-top:30px
}

.pt15{
	padding-top:15px;
}

.pt5{
	padding-top:5px !important
}
.pb5{
	padding-bottom:5px 
}
.pt0{
	padding-top:0px !important
}
.pb20{
	padding-bottom:20px
}
.pb40{
	padding-bottom:40px
}
.pb70{
	padding-bottom:70px !important;
}
.pb10{
	padding-bottom:10px
}
.pb0{
	padding-bottom:0px !important
}
.pl3{
	padding-left:3px !important
}

.pl0{
	padding-left:0px !important
}
.pl5{
	padding-left:5px
}
.pr5{
	padding-right:5px !important
}
.pr0{
	padding-right:0px !important
}
.pt20{
	padding-top:20px !important
}
.pt10{
	padding-top:10px !important
}
.pl20{
	padding-left:20px
}
.pl15{
	padding-left:15px
}

.fz12,.fz13{
	font-weight: normal;
	font-family: 'light';
	line-height: normal;
}

.fz12{
	font-size:12pt;
}
.fz13{
	font-size:13pt;
}
.fz17{
	font-size:17pt;
}
.fz22{
	font-size:22pt;
}
.dashed{
	border-top: 2px dashed #eee;
}
.pointer{
	cursor:pointer
}
.hidden{
	display:none !important
}

.center{
	margin:0px auto;
	text-align:center
}
.m-center{
	margin:0px auto;
}

.md-img{
	width:60%
}
.center-img{
	display:block;
	margin:0px auto;
}
.right-img{
	display:block;
	margin:0px 140px auto
}

.radio{
	margin-bottom:0px 
}

/*frontend*/    
.top-gradient{
	position: relative;
	width: 100%;
}
.top-gradient:before{
	content: "";
    background: transparent url(../images/topGradient.png)no-repeat top;
    width: 100%;
    height: 20px;
    top: -19px;
    left: 0px;
    position: absolute;
}

.top-overlay{
	position: relative;
	width: 100%;
}
.top-overlay:before{
	content: "";
    background: transparent url(../images/bg_spiked_long.png)repeat-x;
    width: 100%;
    height: 12px;
    top: 0px;
    left: 0px;
	 background-position: left center;
    position: absolute;
}

.box-top{
	width:auto;
	height:540px
}

.box-middle{
	width:auto;
	height:auto;
	padding:0px 0px 40px
}

.box-middle-container{
	width:auto;
	height:240px
}

.color-blue{
	color:#03a9f4
}

.color-white{
	color:#fff !important
}
.color-purple{
	color:#8a74b9
}

.color-orange{
	color:#efb57c
}

.color-red{
	color:#CCFF00
}

.color-blue:hover,.color-white:hover{
	text-decoration:none
}

.box-bg-blue{
	background:#03a9f4
}
.box-bg-drk-gray {
    background: #F3F3F3;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
}
.box-bg-s-black {
    background: #8E8E8E;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
}

.box-bg-gray {
    background: #F8F8F8;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
}
.box-bg-white {
    background: #fff;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
}
.box-bg-purple {
    background: #8a74b9;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
}


.home-logo img{
	padding:0px 10px
}

.box-container{
	max-width:1024px;
	margin:0px auto;
	position:relative
}

.box-home-price{
	width:325px;
	height:100%;
	position:absolute;
	right:0px;
	top:0px;
}

.absolute-center-home{
  margin: auto;
  position: absolute;
  height:65%;
  top: 0; left: 0; bottom: 0; 
  padding:20px;
  color:white;
  max-width:500px
}

.absolute-center {
  margin: auto;
  position: absolute;
  height:40%;
  top: 0; left: 0; bottom: 0; right: 0;
  padding:20px;
  color:white;
  font-weight:bold
}

.container-home-body-feedback{
	position:relative;
	overflow:hidden;
	max-height:600px;
}
.container-home-body-feedback  > ul:first-child  > li{
	width:100%;
	height:600px;
}

.container-home-body-feedback  > ul:first-child  > li:first-child{
	background:transparent url(../images/feedback-1.jpg);
	background-repeat:no-repeat;
	background-position:center;
}

.container-home-body-feedback  > ul:first-child  > li:first-child+li{
	background:transparent url(../images/feedback-2.jpg);
	background-repeat:no-repeat;
	background-position:center;
	display:none;
}

.container-home-body-feedback  > ul:first-child  > li:first-child+li+li{
	background:transparent url(../images/feedback-3.jpg);
	background-repeat:no-repeat;
	background-position:center;
	display:none;
}

.container-home-body-feedback .container-feedback{
	background: rgba(0,0,0,0.33) url(../images/semi-transparent-background.png);
	
	float:right;
	margin:70px 0;
	padding:30px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.container-home-body-feedback .container-feedback h1{
	font-size:42px;
	color:#fff;
}
.container-home-body-feedback .container-feedback p{
	line-height:23px;
	color:#fff;
	padding:16px 0px;
}



/*Panel feedback btn*/
.container-home-body-feedback  > ul:first-child+ul{
	width:100%;
	height:auto;
	text-align:center;
	margin:0px auto;
	position:absolute;
	bottom:0px;
	
}

.container-home-body-feedback  > ul:first-child+ul li{
	min-width:105px;
	min-height:105px;
	background:#fafafa;
	-webkit-border-radius: 85px;
	-moz-border-radius: 85px;
	border-radius: 85px;
	border:3px solid #CCCCCC;
	cursor:pointer;
	box-shadow: 0 2px 3px rgba(0,0,0,.5);
	
}
.container-home-body-feedback  > ul:first-child+ul li:hover{
	border:5px solid #AAAAAA;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	box-shadow: 3px 2px 3px rgba(0,0,0,.5);
 }
.container-home-body-feedback  > ul:first-child+ul li:on{
	border-color: rgba(255,255,255,.5);
}

.container-home-body-feedback  ul:first-child+ul li:first-child{
	background:transparent url(../images/homeStitcherThumbnail.jpg);
	background-repeat:no-repeat;
	background-position:center;
}
.container-home-body-feedback  ul:first-child+ul li:first-child+li{
	background:transparent url(../images/home99designsThumbnail.jpg);
	background-repeat:no-repeat;
	background-position:center;
}
.container-home-body-feedback  ul:first-child+ul li:first-child+li+li{
	background:transparent url(../images/homeDisqusThumbnail.jpg);
	background-repeat:no-repeat;
	background-position:center;
}

.background-home-blue{
	background:transparent url(../images/cloud-bg.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;
	width:100%;
	height:100%;
	
}

/*PRICING*/

.price-top{
	width:100%;
	height:100%
}
.price-fixed {
    position: fixed !important;
	left: 62.55555557% !important;
	top:0px
}

.price-absolute {
    position: absolute !important;
	bottom:0px;
	right:0px;
}

.fixed-point{
	 position: relative;
}

#price-container{
	min-height:200px
}

.main-initial{
	position: initial;
}

.collapse-title a{
	display: block;
    position: relative;
    padding-right: 5rem;
    color: #2b3645;
    font-weight: 500;
}
.icon-i-right{
	position: absolute;
    top: 0px;
    right: 0px;
}

/*loading*/
/*LOADING*/
#long-splash {
  width: 100% !important;
  height: 100% !important;
  background:transparent;
  top: 0px !important;
  left: 0px !important;
  z-index: 102;
  text-align: center;
  margin-bottom: 10px;
  background:transparent url(../images/transparent-white.png);
  position: fixed !important;
}
#long-splash:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

#long-splash .centered {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.onload-fail {
  margin: 0px auto;
  width: auto !important;
}

/*responsive*/
/*----------------*/
.main-menu-container{
	max-height: 100%;
	height: 100%;
	width:260px;
	background:#454954;
	position:fixed;
	z-index:101;
	box-shadow: inset -1.5em 0 1.5em -.75em rgba(0,0,0,.25);
	left:-260px;

}
.main-menu-container ul{
	margin:20px 0px;
}
.main-menu-container ul li{
	color:#fff;
	padding:10px 30px !important;
	width:100%;
	cursor:pointer
}
.main-menu-container ul li a{
	color:#fff;
}
.main-menu-container ul li:hover{
	background:#565C69;
}
/******************/
/*  ACAK KATA  */
 .box-rand{
	padding-top:70px
 }
 
.body-shuffle{
	width:100%;
	background:#fff;
	text-align:center;
	padding:20px
	
}

.body-shuffle li{
	border-radius:5px;
	width:50px;
	height:50px;
	background:#eee;
	font-size:25pt
}

.body-shuffle li:hover{
	background:#E4E4E4;
}

.input-shuffle{
	width:100%
}

/****
/** drope me */
.nav-pills{
	z-index:99
}
.dropme .nav-pills{
	position: fixed;
	top: 50%;
	right: 0;
	transform: translate(0%, -50%);
}

.bg-level-0{
	background:transparent url(../images/cityscape.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover
}

.dropme .box-top{
	height:680px
}

.absolute-center-dropme{
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	padding:20px;
	color:white;
	font-weight:bold;
	height: 45%;
	text-align: center;
	right: 0;
	
}

.fz45{
	font-size:45pt
}
.fz14{
	font-size:14pt
}

.color-oranges{
	color:#ffb400
}
.box-image{
	width:100%
}
.box-image li{
	width:33.33%;
	padding:0px;
	margin:0px;
	height:227px;
}

.box-contact > li{
	width:33%;
	padding:0px;
	margin:0px;
	height:227px;
}


.body-inline li{
	float:left
}

.art1{
	background:transparent url(../images/art1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.art2{
	background:transparent url(../images/art2.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.art3{
	background:transparent url(../images/art3.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.art4{
	background:transparent url(../images/art4.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.art5{
	background:transparent url(../images/art5.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.art6{
	background:transparent url(../images/art6.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.art7{
	background:transparent url(../images/art7.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.art8{
	background:transparent url(../images/art8.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.art9{
	background:transparent url(../images/art9.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	
}

.cover-opacity{
	background:#fff;height:100%;width:100%;opacity:0.7;
	z-index:1
}
.cover-opacity:hover{
	opacity:0.1;
	cursor:pointer
}

.header-fixed {
	background-color:#fff;
	overflow:auto;
	padding:20px;
	position:fixed;
	top:0px;
	width:100%;
	z-index:99;
	padding-right:73px
}

.header-fixed a{
	color:#0C0C0C !important
}